.ProseMirror{
  height:auto;
  outline:none;
  position:inherit;
}
.ProseMirror-focused{
  outline:none;
}
React
Vue

index.jsx
styles.scss
Inspect
/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;

  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    z-index: 0;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
      width: 50%;
      text-wrap: pretty;
      height: 100%;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

.tiptap h1{
  font-size: 32px;
  font-weight:700;
  margin: 2rem;
   color: white;
}

.tiptap h2{
  font-size:32px;
  font-weight:700;
  margin: 2rem;
   color: white;
}



.tiptap ol{
  list-style-type: disc;
  margin-left: 5rem;
}

.tiptap ul{
  list-style-type: decimal;
  margin-left: 5rem;
}


.tiptap p{
  word-wrap: break-word;
  word-break: break-all;
  margin-left: 2rem;
  margin-top : 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 1.7;
  text-wrap:pretty;
  color: white;
  font-weight: 500;
}

.tiptap pre{
  border-radius: 5px;
}

.tiptap code{
  display : block;
  width:80%;
  white-space: pre-wrap;
  background-color: rgb(207, 207, 207);
  color: black;
  text-wrap: pretty;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
}

.tiptap a{
  color: rgb(107, 107, 224);
  text-decoration: underline;
}

.tiptap blockquote{
  border-left: 2px solid #999;
  padding-left: 1rem;
  margin-left: 1rem;
}

.tiptap blockquote p{
  quotes: "“" "”";
  font-style: italic;
}

.tiptap hr{
  border : 1px solid black;
  width:50%;
  margin : auto;
}

.editor-content img {
  max-width: 100%;
  height: auto;
  margin: 8px 0;
  cursor: pointer;
}

.editor-content img:hover {
  opacity: 0.9;
}